.twitter {
    fill: $secondary-color-1;

    &:hover {
        fill: $secondary-color-4;
    }
}

.facebook {
    fill: $secondary-color-1;

    &:hover {
        fill: $secondary-color-4;
    }
}

.github {
    fill: $secondary-color-1;

    &:hover {
        fill: $secondary-color-4;
    }
}