// font sizes
$heading-font-size: 62px;
$subheading-font-size: 32px;
$body-font-size: 18px;
$label-font-size: 16px;
$code-font-size: 14px;

// colors
$primary-color-1: #01080E;
$primary-color-2: #011627;
$primary-color-3: #011221;
$secondary-color-1: #607B96;
$secondary-color-2: #3C9D93;
$secondary-color-3: #4D5BCE;
$secondary-color-4: #FFFFFF;
$accent-color-1: #FEA55F;
$accent-color-2: #43D9AD;
$accent-color-3: #E99287;
$accent-color-4: #C98BDF;
$line-color: #1E2D3D;
$gradient-color-1: #4D5BCE;
$gradient-color-2: #43D9AD;
